*{padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;}
header{
    display: flex;
    flex-direction: row;
    background-color: #8c191f;
    padding: 1em;
    color: #fff;

}
main{
    padding: 2em 1em 1em 1em;
}
i{
    cursor: pointer;
font-size: 2em;}
header h1{margin-left: 43%;}
#search{margin-left: auto;}
main{margin: 1em}

#outros a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
#outros a:hover{
    color: #c22a31;
}
a:nth-child(2),a:nth-child(3){
    margin-left:  6px;
}
a:nth-child(3){
    color: red;
}
#linha{height: 3px;
width: 97%;
background-color: #8c191f;
margin-top: 4px;}
#letraf{
    margin-top: 3px;
    font-weight: 700;
}
#inicio{
    margin: 2em 0em;
    text-align: center;
}
#inicio p{
    font-size: 1.1em;
    margin: 1.5em 1em 1.5em 7%;
    color: rgba(66, 66, 66, 0.568);
}
#conteudo{margin-top: 1em;
display: flex;
flex-direction: column;
align-items: center;
text-align: justify;}
h1,h2{
    font-family: 'Times New Roman', Times, serif;}
#conteudo h1{
    display: flex;
    flex-direction: row;
    font-size:2em;
    margin: auto;
}
img{
    width: 100%;
    max-height: 400px;
    margin: 1.3em 0;
    max-width: 700px;
}
h2{margin: 1em;}
p{
    max-width: 500px;
}
@media screen and (max-width:700px) {
    header h1{margin-left: 28%;}   
}